<div id="sidebar" class="sidebar" style="top:60px;">
<!-- Nav tabs -->
    <ul class="sidebar-tabs" role="tablist">
        <li ng-class="{active:isTab('map8')}"><a ng-click="setTab('map8')" role="tab">
            <div class="vertical-text"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;Incidencia</span></div>
        </a></li>
    </ul>

    <!-- Tab panes -->
    <div class="sidebar-content active">
        
        <div class="sidebar-pane active" id="settings" ng-class="{active:isTab('map8')}" ><h1>Mapa de
        Incidencia Dengue</h1>
        <p>Basado en reportes de casos de sindromes febriles agudos. Casos {{estadosLabel[selectedEstado]}}.</p>
         <h4>Clasificación</h4>
            <div id="clasificacion" class="btn-group-vertical radio-container">
                <input id="radio1" type="radio" ng-model="selectedEstado" ng-value="estados[2]" ng-click="change(estados[2])">
                <label class="btn btn-sm btn-primary" for="radio1">Confirmado</label>
                <input id="radio2" type="radio" ng-model="selectedEstado" ng-value="estados[1]" ng-click="change(estados[1])">
                <label class="btn btn-sm btn-primary" for="radio2">Sospechoso</label>
                <input id="radio3" type="radio" ng-model="selectedEstado" ng-value="estados[0]" ng-click="change(estados[0])">
                <label class="btn btn-sm btn-primary" for="radio3">Confirmado + Sospechoso</label>
            </div>
             <p><b>Año </b>&nbsp;<span class="example-val" id="fYear"></span></p>
            <div id="sYear" style="width:365px;margin-right:15px;cursor:pointer;width: auto;"></div>
            <br/>
            <br/>
            <br/>
            <p><b>Semana </b>&nbsp;<span class="example-val" id="fMonth"></span></p>
            <div id="sMonth" style="width:365px;margin-right:15px;cursor:pointer;width: auto;"></div>
            <br/>
            <br/>
            <br/>
            <small>Datos actualizados a Junio del 2015.</small>
        </div>

       
            
    </div>
</div>


<div id="map" ng-model="activeTab">
    <mapa-incidencias ng-if="activeTab=='map8'"></mapa-reportes>
</div>