section.year-slider-section {
    clear: both;
    float: left;
    margin-left:3em;
    padding-right: 1em;
    padding-top:0em;
    position: relative;
    width: 100%;
    padding-right:5em;
}


.custom-slider {
    background-color: #666;
    border: medium none;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    position: relative;
    z-index: 7;
    height:0.5em;
}

.custom-slider > a.d3-slider-handle {
    background: none repeat scroll 0 0 #FFA500;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-left: -25px;
    text-align: center;
    top: -0.7em;
    width: 50px;
}

.custom-slider > a.d3-slider-handle:hover {
	cursor: move;
	cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.custom-slider > a.d3-slider-handle:before,
.custom-slider > a.d3-slider-handle:after {
	content: "";
    display: block;
    left: 0;
    position: absolute;
    z-index: 1;
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}
.custom-slider > a.d3-slider-handle:before {
    border-left: 25px solid rgba(0, 0, 0, 0);
    border-right: 25px solid rgba(0, 0, 0, 0);
    border-top: 8px solid #D48702;
    top: 100%;

}

.custom-slider > a.d3-slider-handle:after {
    border-bottom: 8px solid #FECD7C;
    border-left: 25px solid rgba(0, 0, 0, 0);
    border-right: 25px solid rgba(0, 0, 0, 0);
    top: -8px;
}

.custom-slider > .d3-slider-axis-bottom {
    position: relative;
    top: 8px;
}

.custom-slider > .d3-slider-axis text {
	font-weight:bold;
	font-size:0.7em;
}

.map-description > p {
    display: inline;
}


#description-more-info > a,
.targets-percent > a {
    color: #333;
    text-decoration: underline;
}

#description-more-info > a:hover,
.targets-percent > a:hover {
	color:#2980B9;
	text-decoration:underline;
}

.logos {
	float:left;
	bottom:-5px;
	left:-2em;
	position:relative;
	}

.logos > a {margin-left:0.5em;}

