<!doctype html>
<html class="no-js">
  <head>
    <script type="text/javascript"> 
      if (window.location.href.indexOf('denguemaps') > -1) { 
        document.write("<base href='/denguemaps/' />"); 
      } else { 
        document.write("<base href='/' />"); 
      } 
    </script>
     
    <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>

    <title>Denguemaps</title>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/intro.js/introjs.css" />
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <link rel="stylesheet" href="bower_components/mapbox.js/mapbox.css" />
    <link rel="stylesheet" href="bower_components/bootstrapvalidator/dist/css/bootstrapValidator.css" />
    <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.) styles/bootstrap.css -->
    <link rel="stylesheet"
        href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:css(app) styles/custom-style.css -->
    <link rel="stylesheet" href="styles/mapa/L.Control.Sidebar.css" />
    <link rel="stylesheet" href="styles/mapa/d3.slider.css" />
    <link rel="stylesheet" href="styles/mapa/wwmap.css" />
    <link rel="stylesheet" href="styles/mapa/Control.Opacity.css" />
    <link rel="stylesheet" href="styles/mapa/leaflet-sidebar.css" />
    
    <link rel="stylesheet" href="styles/utils/nouislider/jquery.nouislider.min.css" />
    <link rel="stylesheet" href="styles/utils/nouislider/jquery.nouislider.pips.min.css" />
    <link rel="stylesheet" href="styles/utils/bootstrap-file-style.min.css" />

    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->

  </head>
  <body ng-app="denguemapsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div ng-controller="TabsCtrl" class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">denguemaps</a>
          </div>
          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li id="tab-mapa" ng-class="{active:isActive('/')}"><a href="#/">Mapa</a></li>
              <li id="tab-listado" ng-class="{active:isActive('/listado')}"><a ng-href="#/listado">Listado</a></li>
              <li id="tab-diccionario" ng-class="{active:isActive('/diccionario')}"><a ng-href="#/diccionario">Diccionario</a></li>
              <li id="tab-descargas" class="dropdown" dropdown on-toggle="toggled(open)" ng-controller="DropdownCtrl"><a
              dropdown-toggle class="dropdown-toggle" href>Descargas
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu multi-level">
                  <li class="dropdown-submenu" ng-repeat="year in years">
                    <a href>{{year}}</a>
                    <ul class="dropdown-menu">
                      <li ng-controller="DescargasCtrl" ng-click="descargar(year,type)" ng-repeat="type in types">
                        <a href>{{type}}</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              
            </ul>
          </div>
      </div>
    </div>
    <span ng-controller="DropdownCtrl" us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-dropdown"></span>
    <div ng-view="">
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/intro.js/intro.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/mapbox.js/mapbox.js"></script>
    <script src="bower_components/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>
    <script src="bower_components/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/papaparse/papaparse.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery-panelslider/jquery.panelslider.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/flow.js/dist/flow.js"></script>
    <script src="bower_components/ng-flow/dist/ng-flow.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
        <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/acercade.js"></script>
        <script src="scripts/controllers/listado.js"></script>
        <script src="scripts/controllers/ayuda.js"></script>
        <script src="scripts/controllers/diccionario.js"></script>
        <script src="scripts/controllers/descargas.js"></script>
        <script src="scripts/controllers/tabs.js"></script>
        <script src="scripts/controllers/datos.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/mapa/Google.js"></script>
        <script src="scripts/directives/generic-datatable.js"></script>
        <script src="scripts/controllers/dropdown.js"></script>
        <script src="scripts/utils/download.js"></script>
        <script src="scripts/directives/panel-slider.js"></script>
        <script src="scripts/directives/login.js"></script>
        <script src="scripts/factories/interceptor.js"></script>
        <script src="scripts/factories/authentication.js"></script>
        <script src="scripts/factories/cors.js"></script>
        <script src="scripts/mapa/d3.slider.js"></script>
        <script src="scripts/mapa/L.Control.Sidebar.js"></script>
        <script src="scripts/mapa/Control.Opacity.js"></script>
        <script src="scripts/mapa/leaflet-sidebar.js"></script>
        <script src="scripts/utils/nouislider/jquery.nouislider.all.min.js"></script>
        <script src="scripts/factories/map-services.js"></script>
        <script src="scripts/factories/map-util.js"></script>
        <script src="scripts/directives/file-model.js"></script>
        <script src="scripts/factories/file-upload.js"></script>
        <script src="scripts/directives/mapa-riesgos.js"></script>
        <script src="scripts/directives/mapa-reportes.js"></script>
        <script src="scripts/directives/mapa-incidencias.js"></script>
        <script src="scripts/directives/map.js"></script>
        <!-- endbuild -->
</body>
</html>
