<div id="acerca-de" class="custom-container">
        <div class="margin-table">
          <h1 class="entry-title custom-title">Mapas Interactivos del Dengue</h1>
          <div class="entry-content post-content">
            <p>
              Este trabajo práctico se llevó a cabo en la Materia Electiva 6 – Datos
              Abiertos de la Carrera Ingeniería en Informática de la Facultad
              Politécnica de la Universidad Nacional de Asunción, cátedra del Dr.
              Prof. Juan Pane y ayudante de cátedra Ing. Rodrigo Parra. El
              Ministerio de Salud Pública y Bienestar Social publica semanalmente a
              través de su Portal Web los mapas de riesgo correspondientes a la
              enfermedad epidemiológica <b>"Dengue"</b>. El objetivo del trabajo fue
              realizar un aporte a la sociedad, proveyendo la misma información en
              mapas interactivos que permitan realizar las consultas y visualizar la
              información de una manera más dinámica y comprensible para el usuario
              final.
            </p>
            <h2 class="custom-title">¿Por qué publicar Mapas de Riesgo del DENGUE?</h2>
            <p>El Dengue tiene un comportamiento endémico en el Paraguay desde
              al año 2009 y se han registrado epidemias con circulación de todos los
              serotipos conocidos de virus con capacidad de afectar a humanos:
              DEN-1, DEN-2, DEN-3 y DEN-4. Los Mapas de Riesgo construidos por la
              Dirección General de Vigilancia de la Salud pretenden identificar las
              localidades desde donde es más probable que provengan los casos graves
              de la enfermedad y diseñar intervenciones que puedan modificar el
              curso epidémico, beneficiando a las poblaciones.</p>
            <h2 class="custom-title">¿Qué son los datos abiertos?</h2>
            <p>Los Datos Abiertos pueden ser libremente usados, re-usados y
              redistribuidos por cualquiera, sujeto solamente, a lo sumo, a
              requisitos de atribución y redistribución con la misma licencia.</p>
            <p>Los Datos Abiertos Gubernamentales son un medio fundamental para
              fomentar la transparencia, facilitando a los ciudadanos el acceso a la
              información de la gestión del Gobierno. Los ciudadanos pueden así
              empoderarse de los procesos de decisión, ayudando al gobierno en la
              toma de mejores decisiones y colaborando en la propuesta de
              soluciones.</p>
            <h2 class="custom-title">¿Cómo puedo usar los datos?</h2>
            <p>Con los Datos Abiertos se pueden crear visualizaciones
              innovativas para comprender mejor datos complejos, fomentando la
              creación de nuevos conocimientos. También puede ser la base de
              oportunidades de negocios convirtiéndose en un importante motor
              económico.</p>
            <h2 class="custom-title">¿Quiénes están involucrados en el proyecto?</h2>
            <p>La visualización fue desarrollada como Proyecto de la materia
              Datos Abiertos por las alumnas Verena Ojeda y Natalia Valdez, con el
              apoyo del Dr. Iván Allende y el equipo técnico de la institución.</p>
          </div>
        </div>
      </div>